.CheckBox__SA input {
    opacity: 0;
    cursor:pointer;
}
.CheckBox__SA input::before {
    background: black;
    width:18px;
    height:18px;
    top:0;
    left:0;
}

.CheckBox__SA input::after {
    background: rgb(78, 140, 37);
    width: 15px;
    height:15px;
    top:0;
    left:0;
}
