.CheckBox__SA {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.CheckBox__SA input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    margin: 0;
    padding: 0;

    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
}

/* Сам квадрат */
.CheckBox__SA::before {
    content: "";
    position: absolute;

    width: 18px;
    height: 18px;

    top: 0;
    left: 0;

    background: #fff;
    border-radius: 5px;
}

/* Когда checked */
.CheckBox__SA:has(input:checked)::before {
    background: rgb(78, 140, 37);
}