#root[data-theme="dark"] {
    --background: linear-gradient(180deg, #030003, #28002a);;
    --text-color: #db80ff;
    --sidebar-background-color: rgba(0, 0, 0, 0.4);
    --main-background-color: rgba(0, 0, 0, 0.4);
}
#root[data-theme="light"] {
    --background: linear-gradient(180deg, #030003, #28002a);;
    --text-color: #db80ff;
    --sidebar-background-color: rgba(0, 0, 0, 0.4);
    --main-background-color: rgba(0, 0, 0, 0.4);
}

body,html {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
li {
    list-style: none;
}
div#root {
    background: var(--background);
    color: var(--text-color);
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;

}

section#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70vh;
    .login_window {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #0101018a;
        padding: 100px 60px;
        border-radius: 20px;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }
}
#popup{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0000003d;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    .popup_window {
        background: var(--background);
        border-radius: 20px;
        position: relative;
        .phead{
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 40px);
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            button{
                cursor: pointer;
                padding: 10px;
                background: transparent;
                border: none;
                color: var(--text-color);
            }
        }
        .pbody{
            flex-direction: column;
            width: 40%;
            min-width: 400px;
            height: 30%;
            min-height: 300px;
            padding: 80px 30px 20px;
            display: flex;
            gap: 10px;
        }
    }
}
div.main-layout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 100px;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-items: center;
    font-family: "Intel One Mono", monospace;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0 40px;
    
}

@font-face {
    font-family: "Intel One Mono";
    src: url("./assets/fonts/IntelOneMono/IntelOneMono-Regular.ttf") format("truetype");
}
div.loadPage{
    $offset: 187;
    $duration: 1.4s;

    .spinner {
    animation: rotator $duration linear infinite;
    }

    @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
    }

    .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
        dash $duration ease-in-out infinite, 
        colors ($duration*4) ease-in-out infinite;
    }

    @keyframes colors {
        0% { stroke: #4285F4; }
        25% { stroke: #DE3E35; }
        50% { stroke: #F7C223; }
        75% { stroke: #1B9A59; }
        100% { stroke: #4285F4; }
    }

    @keyframes dash {
        0% { stroke-dashoffset: $offset; }
        50% {
            stroke-dashoffset: $offset/4;
            transform:rotate(135deg);
        }
        100% {
            stroke-dashoffset: $offset;
            transform:rotate(450deg);
        }
    }
}
.sidebar {
    background-color: rgb(203 203 203 / 6%);
    border-radius: 20px;
    width: 90%;
    height: 90vh;
    padding: 20px;
    h2 a {
        text-decoration: underline;
    }
    li a {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 20px;
    }
    li a:hover{
        text-decoration: underline;
    }
    h2{
        text-align: center;
        color: var(--text-color);
    }
}
body {
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--text-color) transparent;
    }

    *::-webkit-scrollbar {
        width: 10px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background: var(--text-color);
        border-radius: 8px;
    }
    main {
        padding: 20px 60px;
        background-color: rgb(203 203 203 / 6%);
        border-radius: 20px;
        width: 90%;
        height: 90vh;
        color: var(--text-color);
        overflow-y: auto;
        table{
            width: 100%;
            border-collapse: collapse;
            text-align: center;

            th, td {
                padding: 10px;
                border-bottom: 1px solid var(--text-color);
            }

            th {
                font-weight: bold;
                font-size: 16px;
            }

            tr.item:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
        hr {
            border: 3px solid var(--text-color);
            border-radius: 5px;
            margin-top: 60px;
        }
        .inputGroup{
            display: flex;
            flex-direction: row;
            gap: 5px;
        }
        .btn_icon {
            border: 1px solid var(--text-color);
            color: var(--text-color);
            cursor: pointer;
            background: 0 0;
            border-radius: 5px;
            align-items: center;
            gap: 10px;
            padding: 10px 20px;
            transition: all .2s;
            display: flex;
            width: min-content;
            text-wrap: nowrap;
        }

        .btn_icon:hover {
            background: var(--text-color);
            color: var(--main-background-color);
        }
        .input_icon {
            display: flex;
            align-items: center;
            border: 1px solid var(--text-color);
            border-radius: 5px;
            justify-content: space-between;
            padding: 5px 10px;
            background: transparent;
            color: var(--text-color);

            input{
                background: transparent;
                border: none;
                color: var(--text-color);
                width: 100%;
            }
            input:focus {
                outline: none;
            }
            input:focus-visible {
                outline: 0px;
            }

            .btn{
                color: var(--text-color);
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
        .table_title {
            text-align: center;
            margin: 0;
        }
    }
}
// Dashboard page
#dashboard {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;

    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rightheader{
            display: flex;
            align-items: center;
            gap: 20px;
            .server_active{
                display: flex;
                align-items: center;
                gap: 10px;

                .label{
                    font-weight: bold;
                    font-size: 18px;
                }
                .value{
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }

            .server_controll {
                display: flex;
                gap: 10px;
            }
        }
    }

    .systemstat{
        padding: 0 20px;

        h2{
            text-align: center;
        }

        .all_system {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-items: center;

            div{
                display: grid;
                grid-template-areas:"icon""label""value";
                align-items: center;
                justify-content: center;
                justify-items: center;
                background: linear-gradient(45deg, #29292940, #66666640);;
                border-radius: 20px;
                padding: 20px 0;
                width: 80%;

                .icon{
                    grid-area: icon;
                }
                .label{
                    grid-area: label;
                    font-weight: bold;
                    font-size: 14px;
                }
                .value{
                    grid-area: value;
                    font-size: 24px;
                }
            }
        }
    }

    .services_stats{
        padding: 0 20px;

        h2{
            text-align: center;
        }

        .all_services {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-items: center;

            div{
                display: grid;
                grid-template-areas:"icon""label""value";
                align-items: center;
                justify-content: center;
                justify-items: center;
                background: linear-gradient(45deg, #29292940, #66666640);;
                border-radius: 20px;
                padding: 20px 0;
                width: 80%;

                .icon{
                    grid-area: icon;
                }
                .label{
                    grid-area: label;
                    font-weight: bold;
                    font-size: 14px;
                }
                .value{
                    grid-area: value;
                    font-size: 24px;
                }
            }
        }
    }
    .graph {
        padding: 20px;
        display: flex;
        flex-direction: column;

        h2{
            text-align: center;
        }
        .all_graph {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            span{
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                width: 100%;
            }
            .cpugraph, .ramgraph {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
#users {
    height: 95%;

    .table_users{
        height: 100%;
        background: linear-gradient(45deg, #29292940, #66666640);;
        border-radius: 20px;
        padding: 20px;

        .active {
            display: flex;
            gap: 20px;
            padding-bottom: 30px;
        }
        table{
            width: 100%;
            border-collapse: collapse;
            text-align: center;

            th, td {
                padding: 10px;
                border-bottom: 1px solid var(--text-color);
            }

            th {
                font-weight: bold;
                font-size: 16px;
            }

            tr.item:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}
#terminal{
    height: 95%;
    .terminal_window{
        background-color: rgba(0, 0, 0, 1);
        border: 1px solid var(--text-color);
        border-radius: 20px;
        padding: 20px;
        height: 80%;
        overflow-y: auto;
        display: grid;
        grid-template-rows: 1fr 0.01fr;
        height: 100%;
    }
}
#log{
    table.log_table {
        width: 100%;
        text-align: center;
        th, td {
            padding: 10px;
            border-bottom: 1px solid var(--text-color);
        }
    }
}
#agents{
    width: 100%;
    height: 100%;
    .window_table_agents{
        width: 100%;
        height: 100%;
        .table_head {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            .active {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
        }
    }
}
#docker{
    .docker_actions {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
    .docker_actions_container {
        display: flex;
        gap: 10px;
    }
}